{% extends "layout.html.twig" %}

{% block header %}
  Start a game
{% endblock %}

{% block content %}
<form class="form-horizontal" role="form" method="post" action="{{WEBROOT}}/games/start_game">
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <fieldset>
        <legend>Choose Players</legend>

        <div class="checkbox">
          <label>
            <input type="checkbox" name="players[]" value="Blackfire" />
            Blackfire
          </label>
        </div>

        <div class="checkbox">
          <label>
            <input type="checkbox" name="players[]" value="Goldhawk" />
            Goldhawk
          </label>
        </div>

        <div class="checkbox">
          <label>
            <input type="checkbox" name="players[]" value="Silverwing" />
            Silverwing
          </label>
        </div>

        <div class="checkbox">
          <label>
            <input type="checkbox" name="players[]" value="Whitewolf" />
            Whitewolf
          </label>
        </div>

      </fieldset>
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <button type="submit" class="btn btn-lg btn-primary">Start game</button>
    </div>
  </div>
</form>
{% endblock %}
