{% extends "layout.html.twig" %}

{% block header %}
  Welcome to {{APPNAME}}
{% endblock %}

{% block content %}
<p>
  <a href="{{WEBROOT}}/games/new" class="btn btn-primary btn-lg">Start a new game</a>
</p>

<p>
  <a href="{{WEBROOT}}/games/login" class="btn btn-primary btn-lg">Resume a game</a>
</p>
{% endblock %}
